<div class="title-area">
    <app-title caption="Our Notepad app"
                *ngIf="selectedColor !== 'purple'" 
               [color]="selectedColor"></app-title>
</div>

<div class="colors-area">
    <app-string-selector
        [options]="colors"
        [selected]="selectedColor"
        (selection)="selectColor($event)"
    ></app-string-selector>
</div>
<div class="fonts-area">
    <app-string-selector 
        [options]="fonts"
        [selected]="selectedFont"
        (selection)="selectFont($event)"
        ></app-string-selector>
</div>
<div class="sizes-area">
    <app-string-selector 
        [options]="sizes"
        [selected]="selectedSize"
        (selection)="selectSize($event)"
        ></app-string-selector>
</div>
<div class="text-area">
    <textarea
        [style.color]="selectedColor"
        [style.font-family]="selectedFont"
        [style.font-size]="selectedSize"
        [style.--kobi]="selectedFont"
    ></textarea>
</div>